In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [3]:
data = pd.read_csv("./creditcard_2023.csv")
# data = data.drop(['id', 'class'], axis=1)
data.head(5)

# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

,id,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-0.260648,-0.469648,2.496266,-0.083724,0.129681,0.732898,0.519014,-0.130006,0.727159,...,-0.110552,0.217606,-0.134794,0.165959,0.126280,-0.434824,-0.081230,-0.151045,17982.10,0
1,1,0.985100,-0.356045,0.558056,-0.429654,0.277140,0.428605,0.406466,-0.133118,0.347452,...,-0.194936,-0.605761,0.079469,-0.577395,0.190090,0.296503,-0.248052,-0.064512,6531.37,0
2,2,-0.260272,-0.949385,1.728538,-0.457986,0.074062,1.419481,0.743511,-0.095576,-0.261297,...,-0.005020,0.702906,0.945045,-1.154666,-0.605564,-0.312895,-0.300258,-0.244718,2513.54,0
3,3,-0.152152,-0.508959,1.746840,-1.090178,0.249486,1.143312,0.518269,-0.065130,-0.205698,...,-0.146927,-0.038212,-0.214048,-1.893131,1.003963,-0.515950,-0.165316,0.048424,5384.44,0
4,4,-0.206820,-0.165280,1.527053,-0.448293,0.106125,0.530549,0.658849,-0.212660,1.049921,...,-0.106984,0.729727,-0.161666,0.312561,-0.414116,1.071126,0.023712,0.419117,14278.97,0

In [4]:
data['Class'].value_counts()

Class
0    284315
1    284315
Name: count, dtype: int64

In [42]:
data['class'].value_counts()

class
5     280790
4     107201
0      97278
13      2203
15      1589
10      1247
9       1040
20      1020
8        979
7        264
17       231
6         53
1         30
11        21
19        20
14        12
22        10
2          9
12         8
18         7
16         4
3          3
21         2
Name: count, dtype: int64